* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.navInstruction {
    padding-left: 0;
    padding-right: 0;
}

.navInstruction a {
    color: black;
}

/* nav {
    margin: 0;
    padding: 0;
} */

.navInstruction h1 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.navInstruction .navbar-brand {
    font-size: 34px;
    font-weight: bold;
    color: #189A46;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding: 0 10px;
    position: relative;
}

.navInstruction .nav-link {
    font-size: 1.2em;
    padding: 14px 0 !important;
    font-weight: 400;
    transition: all 0.5s;
}

.navInstruction,
.nav-item:hover .nav-link {
    color: #189A46;
    position: relative;
}

.navInstruction .nav-link::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #189A46;
    display: block;
    bottom: 13px;
    position: absolute;
    transition: all 0.5s;
}

.navInstruction .nav-link:hover::before {
    width: 100%;
}

.navInstruction .nav-item.active .nav-link {
    color: #189A46;
}

.navInstruction .btn {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: none;
    background-color: rgba(147, 107, 232, 0.05);
    line-height: 33px;
    display: block;
    transition: all 0.5s;
    color: #189A46;
}

.navInstruction .btn:hover {
    background: #189A46;
    color: white;
}

.nav-itembtn {
    padding: 0 10px;
}

.menu__dropdown::after {
    position: absolute;
    right: 5px;
    top: 25px;
    display: inline-block;
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    color: #999;
    font-size: 12px;
}

.menu__dropdown {
    padding-right: 20px;
}

.dropdown-menu .dropdown-item::before {
    content: "";
    width: 0px;
    height: 1px;
    background-color: #189A46;
    display: block;
    bottom: 10px;
    position: absolute;
    transition: all 0.5s;
}

.dropdown-item {
    position: relative;
    font-weight: 400;
    font-size: 1.2em;
    transition: all 0.5s;
}

.dropdown-item:hover {
    color: #189A46;
    background-color: white;
}

.dropdown-item:hover::before {
    width: 100px;
    color: #189A46;
}

.dropdown-menu {
    border-radius: 10px;
    min-width: 13rem;
    padding: 1rem 0 0.3rem;
    transform: translateX(-50px);
}

.dropdown-menu a {
    padding-bottom: 14px;
}

/* .dropdown-menu::before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--dropdown-color);
    border: 1px solid var(--border-color);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
} */

/* carousel */
.carousel-item:nth-of-type(1) img,
.carousel-item:nth-of-type(3) img,
.carousel-item:nth-of-type(4) img {
    background: url(./../img/banner1.jpg);
    min-height: calc(100vh - 90px);
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-of-type(2) img {
    background: url(./../img/banner2.jpg);
    min-height: calc(100vh - 90px);
    background-size: cover;
    background-position: center;
}

.carousel-item {
    padding-top: 67px;
}

#carousel__content .carousel-caption {
    /* top: 50%;
    left: 50%;
    transform: translate(-48.5%, -50%); */
}

#carousel__content .carousel-caption h1 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

#carousel__content .carousel-caption p {
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.9;
    font-size: 1.2em;
}

#carousel__content .carousel-caption button:nth-of-type(1) {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #fff;
    color: #189A46;
    border: 1px solid #00000000;
    margin-top: 50px;
    margin-right: 10px;
}

#carousel__content .carousel-caption button:nth-of-type(2) {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #00000000;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 50px;
    margin-right: 10px;
    transition: all 0.5s;
}

#carousel__content .carousel-caption button:hover:nth-of-type(2) {
    color: #189A46;
    background-color: #fff;
}

.carousel__main {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000090;
    z-index: 1;
}

#carousel__content .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

#carousel__content .carousel-indicators li:hover {
    width: 30px;
    height: 10px;
    border-radius: 10px;
    background-color: #189A46;
}

.carousel-caption1,
.carousel-caption3 {
    left: 0;
    right: 0;
    width: 100%;
    text-align: left;
    top: 40%;
}

.carousel-caption2,
.carousel-caption4 {
    left: 25%;
    right: 0;
    width: 100%;
    text-align: left;
    top: 40%;
}

/* ABOUT US */
.about__content h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.about__content h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.about__content p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.about__content a {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
}

.about__content a:hover {
    color: #189A46;
    text-decoration: none;
}

.about__content {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

/* feature */
.feature {
    background-color: #936be80d;
}

.area-box {
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

.col-4 {
    padding-bottom: 30px;
}

.area-box .icon span i {
    font-size: 30px;
    color: #189A46;
}

.area-box h4 {
    font-weight: 600;
}

.area-box p {
    font-size: 1.2em;
    line-height: 28px;
}

.area-box a {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
}

.area-box a:hover {
    color: #189A46;
    text-decoration: none;
}

.area-box:hover {
    background-color: #936be80d;
}

/* CHOOSE */
.choose__content {
    display: flex;

    margin-right: -15px;
    margin-left: -15px;
}

.choose__content {
    align-items: center;
}

.choose__left img {
    width: 100%;
}

.choose__right h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.choose__right h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.choose__right p {
    line-height: 24.5px;
    color: #696969;
    margin: 15px 0 35px 0;
}

.choose__right li {
    list-style: none;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}

/* NUMBER */
.number {
    background-color: #189A46;
}

.number__content {
    text-align: center;
}

.number__content p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.number__content h4 {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}











.title {
    margin-bottom: 4rem;
}

.title h3 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f53626;
}

.title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

/* plans */

.plans {
    background-color: #936be70d;
    /* background-color: black; */
}

.plans__item {
    background-color: white;
    padding: 3.5em 2.5em;
    border-radius: 10px;
    align-self: center;
    overflow: hidden;
    /* padding: 0; */
}

.plans__item .plans__top h3 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plans__item .plans__top h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189a46;
    display: block;
}

.plans__item .plans__top h5 {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    color: #189a46;
    border-radius: 10px;
}

.plans__item .plans__top label {
    font-size: 25px;
    vertical-align: text-top;
}

.plans__item .plans__top span {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.plans__item .plans__bottom p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
    color: #304659;
    margin-bottom: 5px;
}

.plans__item .plans__bottom button {
    color: #fff;
    background-color: #189A46;
    border: 1px solid #189A46;
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    margin-top: 32px;
}

.plans__item.active .plans__top {
    padding: 3em 2.5em .5em;
    background-color: #189A46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.plans__item.active .plans__bottom {
    padding: 3.5em 2.5em;
}

.plans__item.active {
    margin: 0;
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    z-index: 1;
    padding: 0;
}

.plans__item.active .plans__top h4,
.plans__item.active .plans__top h3,
.plans__item.active .plans__top span,
.plans__item.active .plans__top label {
    color: white;
}

@media screen and (max-width:991px) {
    header {
        padding: 16px 0;
        text-align: center;
        height: auto;
    }

    .dropdown-menu {
        text-align: center;
        transform: translate(0);
    }

    .dropdown-item:hover::before {
        width: 0px;
    }
}

@media screen and (max-width:1200px) {
    #carousel__content .carousel-caption h1 {
        font-size: 52px;
        line-height: 62px;
    }
}

@media screen and (max-width:1200px) {
    #carousel__content .carousel-caption h1 {
        font-size: 50px;
        line-height: 55px;
    }

}